.hp-metrics-modal{
  z-index 3000;
  display: none;
}
.hp-metrics-modal .hp-metrics-modal__background{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
}

.hp-metrics-modal .hp-metrics-modal__inner{
  display: none;
  background: #fff;
  position: relative;
  width: 80%;
  /*height: 400px;*/
  margin: auto;
  -webkit-box-shadow:4px 4px 4px rgba(0,0,0,0.4);
  -moz-box-shadow:4px 4px 4px rgba(0,0,0,0.4);
  box-shadow:4px 4px 4px rgba(0,0,0,0.4);
}

.hp-metrics-modal .hp-metrics-modal__initial{
  position: relative;
  display: block;
  height: 180px;
}

.hp-metrics-modal__initial h2.initial-header{
  text-align: center;
  font-size: 32px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans serif;
  font-weight: bold;
  color: #fff;
  padding: 15px;
  background: #a7a9ac;
  box-shadow: 0 2px 1px #777;
}

@media (max-width: 520px){
  .hp-metrics-modal__initial h2.initial-header{
    font-size: 24px;
  }
}

.initial-loader{
  margin: auto;
  display: block;
  width: 40%;
  overflow: hidden;
  position: relative;
}

.loader{
  height: 7px;
  background: #333;
  margin-bottom: 5px;
}

.l1{
  -webkit-animation:loader_one 5s infinite;
  -moz-animation:loader_one 5s infinite;
  -ms-animation:loader_one 5s infinite;
  -o-animation:loader_one 5s infinite;
  animation:loader_one 5s infinite;
}

@-webkit-keyframes loader_one {
  0% {width: 0%; margin-left: 0%}
  20% {width: 0%; margin-left: 0%}
  40% {width: 100%; margin-left: 0%}
  60% {width: 100%; margin-left: 0%}
  80% {width: 100%; margin-left: 0%; background-color: #333}
  100% {width: 100%; margin-left: 100%; background-color: #3A90A4}

}

@-moz-keyframes loader_one {
  0% {width: 0%; margin-left: 0%}
  20% {width: 0%; margin-left: 0%}
  40% {width: 100%; margin-left: 0%}
  60% {width: 100%; margin-left: 0%}
  80% {width: 100%; margin-left: 0%; background-color: #333}
  100% {width: 100%; margin-left: 100%; background-color: #3A90A4}

}
@-o-keyframes loader_one {
  0% {width: 0%; margin-left: 0%}
  20% {width: 0%; margin-left: 0%}
  40% {width: 100%; margin-left: 0%}
  60% {width: 100%; margin-left: 0%}
  80% {width: 100%; margin-left: 0%; background-color: #333}
  100% {width: 100%; margin-left: 100%; background-color: #3A90A4}

}
@keyframes loader_one {
  0% {width: 0%; margin-left: 0%}
  20% {width: 0%; margin-left: 0%}
  40% {width: 100%; margin-left: 0%}
  60% {width: 100%; margin-left: 0%}
  80% {width: 100%; margin-left: 0%; background-color: #333}
  100% {width: 100%; margin-left: 100%; background-color: #3A90A4}

}
.l2{
  -webkit-animation:loader_two 5s infinite;
  -moz-animation:loader_two 5s infinite;
  -ms-animation:loader_two 5s infinite;
  -o-animation:loader_two 5s infinite;
  animation:loader_two 5s infinite;
}

@-webkit-keyframes loader_two {
  0% {width: 0%; margin-left: 0%}
  20% {width: 0%; margin-left: 0%}
  40% {width: 0%; margin-left: 0%}
  60% {width: 100%; margin-left: 0%}
  80% {width: 100%; margin-left: 0%; background-color: #333}
  100% {width: 100%; margin-left: 100%; background-color: #3A90A4}
}
@-moz-keyframes loader_two {
  0% {width: 0%; margin-left: 0%}
  20% {width: 0%; margin-left: 0%}
  40% {width: 0%; margin-left: 0%}
  60% {width: 100%; margin-left: 0%}
  80% {width: 100%; margin-left: 0%; background-color: #333}
  100% {width: 100%; margin-left: 100%; background-color: #3A90A4}
}
@-o-keyframes loader_two {
  0% {width: 0%; margin-left: 0%}
  20% {width: 0%; margin-left: 0%}
  40% {width: 0%; margin-left: 0%}
  60% {width: 100%; margin-left: 0%}
  80% {width: 100%; margin-left: 0%; background-color: #333}
  100% {width: 100%; margin-left: 100%; background-color: #3A90A4}
}
@keyframes loader_two {
  0% {width: 0%; margin-left: 0%}
  20% {width: 0%; margin-left: 0%}
  40% {width: 0%; margin-left: 0%}
  60% {width: 100%; margin-left: 0%}
  80% {width: 100%; margin-left: 0%; background-color: #333}
  100% {width: 100%; margin-left: 100%; background-color: #3A90A4}
}

.l3{
  -webkit-animation:loader_three 5s infinite;
  -moz-animation:loader_three 5s infinite;
  -ms-animation:loader_three 5s infinite;
  -o-animation:loader_three 5s infinite;
  animation:loader_three 5s infinite;

}
@-webkit-keyframes loader_three {
  0% {width: 0%; margin-left: 0%}
  20% {width: 0%; margin-left: 0%}
  40% {width: 0%; margin-left: 0%}
  60% {width: 0%; margin-left: 0%}
  80% {width: 100%; margin-left: 0%; background-color: #333}
  100% {width: 100%; margin-left: 100%; background-color: #3A90A4}
}
@-moz-keyframes loader_three {
  0% {width: 0%; margin-left: 0%}
  20% {width: 0%; margin-left: 0%}
  40% {width: 0%; margin-left: 0%}
  60% {width: 0%; margin-left: 0%}
  80% {width: 100%; margin-left: 0%; background-color: #333}
  100% {width: 100%; margin-left: 100%; background-color: #3A90A4}
}
@-o-keyframes loader_three {
  0% {width: 0%; margin-left: 0%}
  20% {width: 0%; margin-left: 0%}
  40% {width: 0%; margin-left: 0%}
  60% {width: 0%; margin-left: 0%}
  80% {width: 100%; margin-left: 0%; background-color: #333}
  100% {width: 100%; margin-left: 100%; background-color: #3A90A4}
}
@keyframes loader_three {
  0% {width: 0%; margin-left: 0%}
  20% {width: 0%; margin-left: 0%}
  40% {width: 0%; margin-left: 0%}
  60% {width: 0%; margin-left: 0%}
  80% {width: 100%; margin-left: 0%; background-color: #333}
  100% {width: 100%; margin-left: 100%; background-color: #3A90A4}
}
.loading-text{
  display: block;
  height: 20px;
  text-align: center;
  position: absolute;
  margin: auto;
  width: 100%;
  z-index: 10;
  top: 25%;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans serif;
  right: 100%;
  color: #3A90A4;
  -webkit-animation: loading-text 5s infinite;
}

@-webkit-keyframes loading-text {
  0% {right: 100%}
  20% {right: 0%; color: #3A90A4}
  40% {right: -100%; color: #333}
  100% {right: -100%;}
}

@-moz-keyframes loading-text {
  0% {right: 100%}
  20% {right: 0%; color: #3A90A4}
  40% {right: -100%; color: #333}
  100% {right: -100%;}
}

@-o-keyframes loading-text {
  0% {right: 100%}
  20% {right: 0%; color: #3A90A4}
  40% {right: -100%; color: #333}
  100% {right: -100%;}
}

@keyframes loading-text {
  0% {right: 100%}
  20% {right: 0%; color: #3A90A4}
  40% {right: -100%; color: #333}
  100% {right: -100%;}
}
